{% style %}
  .logo-image-container {
    display: flex;
    justify-content: center;
    min-width: 75vw;
    margin-bottom: 4rem;
  }
  .logo-image {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  @media screen and (min-width: {{ settings.breakpoint_sm }}px) {
    .logo-image-container {
      min-width: 50vw;
    }
  }

  @media screen and (min-width: {{ settings.breakpoint_md }}px) {
    .logo-image-container {
      max-width: 33vw;
    }
  }

  @media screen and (min-width: {{ settings.breakpoint_lg }}px) {
    .logo-image-container .image {
      max-width: 60%;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (min-width: {{ settings.breakpoint_xl }}px) {
    .logo-image-container {
      flex: 1 1 calc(100% - 1.5rem);
      margin-bottom: 0;
    }

    .logo-image-container .image {
      max-width: 60%;
    }
  }
{% endstyle %}

<div class="logo-image">
  {% render 'image', image: block.settings['logo-image'], width: 1400 %}
</div>

{% schema %}
{
  "name": "Logo",
  "class": "logo-image-container",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo-image",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "alt-text",
      "label": "Alt Text",
      "info": "Text that takes the place of an image if it cannot be loaded.",
      "default": "Bearly Farms Logo"
    }
  ],
  "presets": [
    {
      "name": "Logo"
    }
  ]
}
{% endschema %}
